*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --linear: #FF42A5;
    --black: #0B0223;
    
  }
  

/* -navigation section style start */



.logo , .manu , .manu-btn , .manu-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.manu-icon{
    padding: 17px 24px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 130px;
    padding: 0px  10%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-text{
    margin-left: 20px;
    font-size: 2.813rem;
    font-weight: bold;
}

.about-btn , .devoloper-btn{
    font-size: 1.125rem;
    font-weight: 500px;
    white-space: nowrap;
}
.devoloper-btn{
    margin-left: 20px;
}


.follow-icon{
    white-space: nowrap;
}

.manu-icon{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 32px;
    padding: 262px, 56px;
}

.icon-youtube , .manu-tiktok{
    width: 33.916px;
    height: 24px;
    margin-left: 24px;
}

/* -navigation section style end */


.header-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: auto;
    background-image: ;
}


.header-background{
    position: relative;
}
.container-1{
    position: absolute;
    top: 40%;
    right: 75%;
    
}


.header-title{
    font-size: 3rem;
    font-weight: 600px;
    color: var(--black);

}

.header-titile-goat{
    font-size: 5.938rem;
    font-weight: bold;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-titile-play , .header-titile-download , .header-titile-deteles{
    font-size: 1.25rem;
    font-weight: 500px;
    color: var(--black);
}

.header-title-icon{
    display: flex;
    gap: 5px;
}

.btn{
    display: flex;
    gap: 24px;
    margin-top: 10px;
}
.btn-sign , .btn-go{
    padding: 21px 40px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border-radius: 48px;
    color: white;
    border: none;
}

.btn-go{
    background: #4EC5F7;
}


.header-image{
    width: 40%;
}

.header-image>img{
    width: 100%;
}

/* header  body section end */


/* gammer section style start */


.gammer-section{
  
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.gammer-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.gammer-image{
    width: 100%;
}
.gammer-image>img{
    width: 100%;
}

.gamer-content{
    text-align: right;
}

.gamer-content>h2{
    font-size: 3rem;
    font-weight: 700px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 24px;
}
.gammer-deteles{
    font-size: 1.125rem;
    margin-bottom: 32px;
}
.online-title.purpose{
    margin-bottom: 5px;
}
.gamer-content{
    font-size: 2rem;
    color: var(--black);
}


/* gammer section end */



.online-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom:20px ;
}


.online-title-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-title-discription{
    text-align: center;
    margin-bottom: 48px;
}

.more-videos{
    width: 80%;
    margin:auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 100%;
}
.container>img , .container-img{
    width: 100%;
    flex-wrap: nowrap;

}

.container-video{
    position: relative;
}
.svg-video{
    position: absolute;
    top: 40%;
    right: 35%;
}

.container-title{
    width: 100%;
    height: 5vh;
}
.container>div>p{
    font-size: 1.25rem;
    text-align: left;
    margin-top: 20px;
}


.watch-now{
    color: #F948B2;

}






/* play instantly section start */

.play-instantly{
    width: 65%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.play-instantly-content{
    margin-right: 100px;
}
.play-instantly-content-title{
font-size: 3rem;
font-weight: 700px;
margin-bottom: 24px;
text-align: left;
}

.play-instantly-txt{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-content-deteles{
    font-size: 1.25rem;
    font-weight: 400px;

}


.play-instantly-image{
    position: relative;
    width: 50%;
}
.play-instantly-image>img{
    width: 100%;
}



.play-instantly-image-small{
    position: absolute;
    top:54% ;
    right: 75%;
    width: 50%;
}
.play-instantly-image-small>img{
    width: 100%;
}



/* play game section style start */

.play-game-section{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.play-game-image{
    width: 45%;
    position: relative;
}
.play-game-image>img{
    width: 100%;
}

.play-game-images2{
    width: 45%;
}

.play-game-images2{
    position: absolute;
    top: 55%;
    left: 70%;

}
.play-game-images2>img{
   width: 100%;
}

.play-game-title{
    font-size: 3rem;
    font-weight: bold;

}

.play-game-content{
    margin-left: 20%;
}

.play-game-title-speacial{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-game-title-discripion{
    max-width: 483px;
    
}


/* play-game-section style end */



/* carrear section style start */

.carrear-section{
   
    margin-top: 100px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}
.carrear-main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    
}

.carrear-content>h3{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 24px;


}
.carrear-content>p{
    color: #FFFFFF;

}

.carrear-skill{
    display: flex;
    justify-content: space-between;
    color: #fff;
   margin-top: 32px;

}
.carrear-skill>ul>li{
    list-style: none;


    
}
.btn-carrear{
    background-color: #fff;
    color: #F948B2;
    padding: 21px 40px;
    border-radius: 30px;
    border: none;
    margin-top: 40px;
    font-size: 1.25rem;
    font-weight: 600px;
    margin-bottom: 50px;
}


.carrear-image{
    width: 100%;

}
.carrear-image>img{
    width: 100%;
}

 /* carrear section end */


 .logo-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center; 
    align-items: center;
   
 }

.next-line{
margin-left: 50%;
flex-wrap: nowrap;


   
}

.next-line>h4{
    text-wrap: nowrap;
}

 .logo-box{
    display: flex;
    align-items: center;
    
    border-radius: 30px;
    background: #fff;
    text-align: center;
    

}


/* .logo-container-1{
    padding-top: 121px;
    display: flex;
    justify-content: center;
    gap: 27px;

} 

.logo-container-2{
    padding-bottom: 121px;
    display: flex;
    justify-content: center;
    gap: 27px;
    margin-top: 28px;
}  */

/* logo container section style :end */



footer{
    background-color: #0B0223;
}

.footer-logo-img{
   max-width: 240px;
   margin:auto;
   padding-top: 120px;

}

.footer-logo-text{
    color: #fff;
}


.footer-logo-img{
    display: flex;
    align-items: center;
   
}

.footer-navigation{
    display: flex;
    gap: 40px;
    max-width: 814px;
    margin:auto;
    padding-top: 56px;
    

}
.footer-navigation-text{
    color: #fff;
}

.footer-icon{
    display: flex;
    gap: 20px;
    max-width: 377px;
    margin:auto;
    padding-top: 66px;
}

.polcy{
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    gap: 60px;
    max-width: 708px;
    margin: auto;
    padding-top: 66px;
}

.copyright{
    color: rgba(255, 255, 255, 0.60);
    max-width: 431px;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 120px;

}









/* small device */

@media screen and (max-width:576px){
    /* nav section resposive start */
    nav{
        flex-direction: column;
        justify-content: space-evenly;
         height: 100%;
    }
    .manu{                      
        flex-direction: column;
        margin: 0;
        justify-content: space-evenly;
    }
    .manu-btn{
        flex-direction: column;
        margin-top: 32px;

    }

    .devoloper-btn{
        margin: 32px 0px 0px 0px;
    }
    .manu-icon{
        margin: 32px 0px 10px 0px;
        
    }

    /* nav section resposive end */

    /* header body section responsive */
   .header-body{
    flex-direction:column;
    
   }
   .container-1{
    position: static;
}

.svg-background{
    display: none;
}
.header-image{
    
}

.header-image>img{
    width: 100%;
}

/* header  body section end */

.gammer-container{
    display: flex;
    flex-direction: column;
}

.gammer-image>img{
    /* height: 300px; */
}

.gamer-content{
    text-align: center;
}

/* more videos section responsive */

.more-videos{
    flex-direction: column;
}




/* play instantly section responsive */
.play-instantly-content-title{
    text-align: center;
}
.play-instantly-content-deteles{
    text-align: center;
}


/* play game section responsive */

.play-game-section{
    flex-direction: column;
     margin-top: 50px;
     width: 100%;
}

.play-game-title{
    text-align: center;
    margin-top: 50px;
}
.play-game-title-discripion{text-align: center;}

/* <!-- logo container responsive section start --> */

/* .logo-container-1{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
} */

/* .logo-container-2{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
} */
.logo-container{
    grid-template-columns: repeat(2 , 1fr);

}



/* carrer section responsive */
.carrear-main{
    flex-direction: column;
}


.next-line{
    margin-left: 0%;
    flex-wrap: nowrap;

    }

    .footer-navigation{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }





}





    /* miduam device */

@media screen and (min-width:576px)and (max-width:992px) {

     /* nav section resposive start */
     nav{
        padding: 0px;
        flex-direction: column;
        
    }
    .manu{
        padding-bottom: 20px;
    }
     /* nav section resposive end */

     /* header body section responsive */

     .container-1{
        position: absolute;
        top: 40%;
        right: 40%;
    }
    
    .header-image>img{
        max-width: 400px;
    }

    /* header  body section end */



    .logo-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    .next-line{
        margin-left: 0px;
        flex-wrap: nowrap;
        
        
           
        }

        .footer-navigation{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

}