*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --linear: #FF42A5;
    --black: #0B0223;
    
  }
  

/* -navigation section style start */


.logo , .manu , .manu-btn , .manu-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 130px;
    padding: 0px  10%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-text{
    margin-left: 20px;
    font-size: 2.813rem;
    font-weight: bold;
}

.about-btn , .devoloper-btn{
    font-size: 1.125rem;
    font-weight: 500px;
    white-space: nowrap;
}
.devoloper-btn{
    margin-left: 20px;
}


.follow-icon{
    white-space: nowrap;
}

.manu-icon{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 32px;
    padding: 262px, 56px;
}

.icon-youtube , .manu-tiktok{
    width: 33.916px;
    height: 24px;
    margin-left: 24px;
}

/* -navigation section style end */


.header-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: auto;
    background-image: ;
}


.header-background{
    position: relative;
}
.container-1{
    position: absolute;
    top: 40%;
    right: 75%;
    
}


.header-title{
    font-size: 3rem;
    font-weight: 600px;
    color: var(--black);

}

.header-titile-goat{
    font-size: 5.938rem;
    font-weight: bold;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-titile-play , .header-titile-download , .header-titile-deteles{
    font-size: 1.25rem;
    font-weight: 500px;
    color: var(--black);
}

.header-title-icon{
    display: flex;
    gap: 5px;
}

.btn{
    display: flex;
    gap: 24px;
    margin-top: 10px;
}
.btn-sign , .btn-go{
    padding: 21px 40px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border-radius: 48px;
    color: white;
    border: none;
}

.btn-go{
    background: #4EC5F7;
}


.header-image{
    width: 40%;
}

.header-image>img{
    width: 100%;
}

















/* small device */

@media screen and (max-width:576px){
    /* nav section resposive start */
    nav{
        flex-direction: column;
        justify-content: space-evenly;
         height: 100%;
    }
    .manu{
        flex-direction: column;
        margin: 0;
        justify-content: space-evenly;
    }
    .manu-btn{
        flex-direction: column;
        margin-top: 32px;

    }

    .devoloper-btn{
        margin: 32px 0px 0px 0px;
    }
    .manu-icon{
        margin: 32px 0px 10px 0px;
        
    }

    /* nav section resposive end */

    /* header body section responsive */
   .header-body{
    flex-direction:column;
    
   }
   .container-1{
    position: absolute;
    top: 40%;
    right: 10%;
}

.header-image{
    width: 100%;
}

.header-image>img{
    width: 100%;
}


}





    /* miduam device */

@media screen and (min-width:576px)and (max-width:992px) {

     /* nav section resposive start */
     nav{
        padding: 0px;
        flex-direction: column;
        
    }
    .manu{
        padding-bottom: 20px;
    }
     /* nav section resposive end */

     /* header body section responsive */

     .container-1{
        position: absolute;
        top: 40%;
        right: 40%;
    }
    
    .header-image>img{
        max-width: 400px;
    }

}